html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: LightGray;
}

div {
	border: 1px solid Chocolate;
	height: 70px;
	background-color: white;
}

/* Navigation Section */
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 4px;
    padding-right: 50px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.logo {
	margin-top: 17px;
	margin-left: 10px;
}
