html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: White;
}

.top-navigation div {
    border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.top-navigation > .content {
    height: 70px;
    padding: 0 20% 0 20%;
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction .content
{
    text-align: center;
    display: block;
    margin-top: 12em;
    font-family: 'Roboto', sans-serif;

    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}

.introduction .content h1 {
 
    font-size: 4.3em;
    font-weight: 100;

}

.introduction .content h3{

    font-size: 2em;
    font-weight: 100;
}

.introduction .content > button {

    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.cases {
   text-align: center;
    font-size: 2.7em;
    margin-top: 1.5em;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;

    color: black;
    -webkit-font-smoothing: antialiased;
}

.devices{
    width: 33%;
    display: inline-block;
    text-align: center;

    /* styles to assist with debugging */
    box-sizing: border-box;
    
    height: 4em;
    margin: auto 0;
}

.devices h3{
    font-weight: 100
}